---
import Social from "./Social.astro";

---
<style>
  footer {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: black;
    color: white;
  }
</style>

<footer>
  <p>Learn more about my projects on <Social platform="github" username="ashlavadev" />!</p>
</footer>