---

---
<style>
  nav {
    display: flex;
    justify-content: center;
    gap: 1rem;
    background-color: black;
  }

  a {
    padding: 0.5rem;
    text-decoration: none;    
    color: white;
  }

  a:hover {
    background-color: white;
    color: black;
  }
</style>

<nav>
  <a href="/">Home</a>
  <a href="/about/">About</a>
  <a href="/blog/">Blog</a>
</nav>